selenium==4.37.0
pytest==8.4.2
#  --browser=ch --url=http://localhost:8081 (при запуске приложения всегда проверять адишен аргумент)

allure-pytest==2.14.1
allure-python-commons==2.14.1
attrs==25.4.0
colorama==0.4.6
execnet==2.1.2
iniconfig==2.3.0
packaging==25.0
pluggy==1.6.0
pytest-xdist==3.6.1